.DS_Store
g0_distrib.pyc
gi_distrib.pyc
json_parser.pyc
plain_text_parser.pyc
rdfOutput.txt
rdfcreator.pyc
succ_func.pyc
rdfOutput.trig
rdfOutput.ttl
schemas/trip/egg.log
schemas/trip/trip-output.trig
plot.pyc
plot1.pyc
plot2.pyc
plot3.pyc
plot4.pyc
egg.log
schemas/trip/byobject/
schemas/trip/byproperty/
gi_distrib_new.pyc
schemas/trip/egg.log.before
schemas/trip/trip-graph10000.txt
schemas/trip/trip-graph1000000.txt