.DS_Store
g0_distrib.pyc
gi_distrib.pyc
json_parser.pyc
plain_text_parser.pyc
rdfOutput.txt
rdfcreator.pyc
succ_func.pyc
rdfOutput.trig
rdfOutput.ttl
schemas/trip/egg.log
schemas/trip/trip-output.trig
plot.pyc
plot1.pyc
plot2.pyc
egg.log
schemas/trip/46.png
schemas/trip/hotelPrice.png
schemas/trip/qAir.png
